<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class = "col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text">
          <figure class="container">
            <img class="img-fluid" src="images/4623.jpeg" alt="herosection_image">
          </figure>
        </div>
        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
          <h2>WE ARE THE PROFESSIONAL DEVELOPER</h2>
          <P>Welcome by <span class="bold-style">Shashank</span>
          . we're dedicated to give you the best of work with a focus on [three characteristics i.e. dependability, customer service and uniqueness]</P>
          <button class="btn-style btn-primary">Read More</button>
        </div>
        
      </div>
    </div>
  </div>
  </div>